<html>
  <head>
    <title>Página de alojamientos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="http://{{ home }}/style.css" media="screen" />
  </head>

  <body>
    <div id="container">
      <div id="header">
        <div class="headtitle">Página de alojamientos</div>
      </div>

      <div id="menu">
        <ul>
          <li><a href="http://{{ home }}?offset=0">HOME</a></li>
          <li><a href="http://{{ home }}/about">ABOUT</a></li>
          {% if logged %}
            <li>Estás autenticado como {{ username }}<a href="http://{{ home }}/logout">LOGOUT</a></li>
          {% else %}
            <li>No estás autenticado<a href="http://{{ home }}/login">LOGIN</a></li>
          {% endif %}
        </ul>
      </div>


      <div id="content">
        <div id="insidecontent"> <br>
          <h1>Filtro de alojamientos</h1>
          <p>
            <form action="http://{{ home }}/alojamientos?offset=0&filt=None" method="POST">
              Filtrar por:<input type="text" name="filt">
              <input type="submit" value="Filtrar">
            </form>
	        </p>
          <h1>Listado de alojamientos</h1>
          <p>
            {% for alojamiento in alojamientos %}
              <li>
                Nombre: <a href="http://{{ home }}/alojamientos/{{ alojamiento.id }}">{{ alojamiento.name }} </a><br>
                Dirección: {{ alojamiento.address }}<br>
                Web: <a href ="{{ alojamiento.url }}">{{ alojamiento.url }}</a><br><br>
              </li>
            {% endfor %}
            {% for i in offsets_list %}
              {% ifequal i offset %}
                 {{ i }}&nbsp;
              {% endifequal %}
              {% ifnotequal i offset %}
                 <a href="http://{{ home }}/alojamientos?offset={{ i }}&filt={{ filt }}">{{ i }}</a>&nbsp;
              {% endifnotequal %}
            {% endfor %}
            <br><br>
	        </p>
        </div>
        <div style="clear: both;"></div>
      </div>


      <div id="footer">
        <span>Esta aplicación utiliza datos del <a href="http://cursosweb.github.io/etc/alojamientos_es.xml">portal de datos abiertos de la ciudad de Madrid</a></span>
      </div>

    </div>
  </body>
</html>
