<html>
  <head>
    <title>Página del alojamiento {{ alojamiento.name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="http://{{ home }}/style.css" media="screen" />
  </head>

  <body>
    <div id="container">
      <div id="header">
        <div class="headtitle">Página del alojamiento {{ alojamiento.name }} </div>
      </div>

      <div id="menu">
        <ul>
          <li><a href="http://{{ home }}?offset=0">HOME</a></li>
          <li><a href="http://{{ home }}/alojamientos?offset=0&filt=None">ALOJAMIENTOS</a></li>
          <li><a href="http://{{ home }}/about">ABOUT</a></li>
          {% if logged %}
            <li>Estás autenticado como {{ username }}<a href="http://{{ home }}/logout">LOGOUT</a></li>
          {% else %}
            <li>No estás autenticado<a href="http://{{ home }}/login">LOGIN</a></li>
          {% endif %}
        </ul>
      </div>


      <div id="content">
        <div id="insidecontent"> <br>
          <h1>Información básica</h1>
          <p>
            Nombre: {{ alojamiento.name }}.<br>
            Web: <a href="{{ alojamiento.url }}">{{ alojamiento.url }}</a><br>
            Dirección: {{ alojamiento.address }}<br>
            Imágenes:
            {% for image in images %}
              <img src="{{ image.url }}"><br><br>
            {% endfor %}
	        </p>
          <h1>Información geográfica</h1>
          <p>
            Zipcode: {{ alojamiento.zipcode }}.<br>
            País: {{ alojamiento.country }}<br>
            Ciuddad: {{ alojamiento.city }}<br>
            Latitud: {{ alojamiento.latitude }}<br>
            Longitud: {{ alojamiento.longitude }}
            <br><br>
	        </p>
          {% if logged %}
          <h1>Puedes comentar sobre este alojamiento</h1>
          <p>
            <form action="" method="POST">
              <textarea name="comment" rows="10" cols="40"></textarea>
              <input type="submit" value="Comentar">
            </form>
            <br><br>
          </p>
          {% endif %}
        </div>
        <div style="clear: both;"></div>
      </div>


      <div id="footer">
        <span>Esta aplicación utiliza datos del <a href="http://cursosweb.github.io/etc/alojamientos_es.xml">portal de datos abiertos de la ciudad de Madrid</a></span>
      </div>

    </div>
  </body>
</html>
